// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Raleway:300,400,600,700|Source+Sans+Pro:300,400,600,700|Source+Code+Pro:400|Crimson+Pro:400&display=swap');

@import "~select2/dist/css/select2.min.css";


/* Media mix */
$mini-phone-width: 320px;
$small-phone-width: 414px;
$phone-width: 564px;
$tablet-portrait-width: 768px;
$tablet-landscape-width: 1024px;
$desktop-width: 1280px;
$big-desktop-width: 1600px;


@mixin mini-phone-only {
  @media (max-width: #{$mini-phone-width}) { @content; }
}
@mixin small-phone-down {
  @media (max-width: #{$small-phone-width - 1px}) { @content; }
}
@mixin medium-phone-down {
  @media (max-width: #{$phone-width - 1px}) { @content; }
}
@mixin phone-down {
  @media (max-width: #{$tablet-portrait-width - 1px}) { @content; }
}
@mixin tablet-portrait-up {
  @media (min-width: #{$tablet-portrait-width - 1px}) { @content; }
}
@mixin tablet-portrait-down {
  @media (max-width: #{$tablet-landscape-width - 2px}) { @content; }
}
@mixin tablet-landscape-up {
  @media (min-width: #{$tablet-landscape-width - 1px}) { @content; }
}
@mixin desktop-up {
  @media (min-width: #{$desktop-width - 1px}) { @content; }
}
@mixin big-desktop-up {
  @media (min-width: #{$big-desktop-width - 1px}) { @content; }
}

/*@media only screen and (-o-min-device-pixel-ratio: 5/4),
       only screen and (-webkit-min-device-pixel-ratio: 1.25),
       only screen and (min--moz-device-pixel-ratio: 1.25),
       only screen and (min-device-pixel-ratio: 1.25),
       only screen and (min-resolution: 1.25dppx) {
    #dgst_shopping_bag {background-image:url(img/shopping_bag@2x.png);}
}*/

// Variables
@import 'colors';
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// Custom fonts
@import "fa-kit/scss/fontawesome";
@import 'fa-kit/scss/light';
@import 'fa-kit/scss/solid';
@import 'fa-kit/scss/brands';
@import 'fa-kit/scss/duotone';
@import 'fa-kit/scss/thin';

// Custom styles
@import 'q-search';
@import 'switch';
@import 'shipping';
@import 'form';
@import 'popup';
@import 'modal';
@import 'product-filter';
@import 'nav';
@import 'alert';
@import 'buttons';
@import 'timeline';
@import '~lightslider/src/css/lightslider.css';

// External modules
@import 'ion.rangeSlider';
@import 'toastr.min';
@import '~datatables.net-responsive-dt';


a{
    color: $color-riel-light;
}


.page-title{

    display: inline-block;
    padding-bottom: 15px;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        width: 50%;
        height: 1px;
        bottom: 0;
        left: 25%;
        border-bottom: 2px solid $color-riel-light;
    }
}



.footer-category{
    color: #c1c1c1;
    text-transform: uppercase;
    border-bottom: 1px solid #C1C1C1FF;
    font-weight: 600;
    margin-bottom: 5px;
}

#qsearch{
    .close {
        &:before {
            content: "\F00D";
            display: block;
            height: 2rem;
            line-height: 2rem;
            padding-left: 1rem;
            padding-right: 1rem;
            font-family: $font-fa;

            box-sizing: border-box;
        }
    }
}



a{
    transition: 0.2s;

    &:hover{
        color: $color-riel-light;
    }
}

button{
    transition: 0.2s;
}

.swal2-confirm{
    background-color: $color-riel-light !important;

    &:focus{
        box-shadow: none !important;
    }
}

.overlay{
    background-color: black;
    opacity: 0.2;
    z-index: 20;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}

.home-card{
    transition: transform .5s;
    &:hover{
        transform: scale(1.1);
    }
}

.compare-all-btn{
    .compare-text{
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        transition: all .5s;
        margin-right: -4px;
        width: 0;
    }

    &:hover, &.open{
        .compare-text{
            margin-right: 0;
            width: 112px;
        }
    }
}

#cart{
    .prod-item{
        .product-image{
            width: 80px !important;
            height: 80px !important;
        }
    }

}
.lazyload,
.lazyloading {
    opacity: 0.1;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}





