/.idea
/node_modules

/public/assets
/public/images
/public/js
/public/css
/public/fonts
/public/mix-manifest.json

/storage/*.key
/storage/debugbar
/storage/media-library

/vendor

.env
.env.testing

.php-cs-fixer.cache
.php_cs.cache
.phpunit.result.cache
cloud_sql_proxy

docker-compose.override.yml

npm-debug.log
yarn-error.log

.DS_Store
